<style>
    .container{width:100%;margin:auto;}
    @media(min-width:600px) {.container{width: 80%;}}
    @media(min-width:768px) {.container{width: 60%;}}
    @media(min-width:1024px){.container{width: 50%;}}
</style>

<div class="container">
    <h1>Welcom to Singapore<h1>
    <p>img src={{https://img.freepik.com/free-photo/yasaka-pagoda-sannen-zaka-street-kyoto-japan_335224-12.jpg?size=626&ext=jpg}}</p>
    <form action = "/main" method = "post">
      <h2>My name is Hiyori, may I know your name: </h2>
      <input type = "text" name = "r">
      <input type = "submit" value = "Enter">
    </form>
</div>
